/* Webfont: Acacio-Bold */@font-face {
    font-family: 'Acacio';
    src: url('Acacio-Bold.eot'); /* IE9 Compat Modes */
    src: url('Acacio-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Acacio-Bold.woff') format('woff'), /* Modern Browsers */
         url('Acacio-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Acacio-Bold.svg#Acacio-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

